#canvas {
  user-select: none;
  height: 100vh;
  margin-top: 70px;
}

.shape-handlers {
  position: fixed;
  top: 0;
  opacity: 0;
  border: 2px solid purple;
}

.hide-handlers > div {
  pointer-events: none;
  opacity: 0;
}

.handler--top {
  position: absolute;
  height: 10px;
  top: -6px;
  left: 0;
  right: 0;
  cursor: ns-resize;
}
.handler--right {
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  right: -6px;
  cursor: ew-resize;
}
.handler--bottom {
  position: absolute;
  height: 10px;
  bottom: -6px;
  left: 0;
  right: 0;
  cursor: ns-resize;
}

.handler--left {
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  left: -6px;
  cursor: ew-resize;
}
.handler-box {
  width: 10px;
  height: 10px;
  border: 1px solid blue;
  background-color: white;
  z-index: 1;
}
.handler--top-left {
  position: absolute;
  left: -6px;
  top: -6px;
  cursor: nwse-resize;
}
.handler--top-right {
  position: absolute;
  right: -6px;
  top: -6px;
  cursor: nesw-resize;
}
.handler--bottom-right {
  position: absolute;
  right: -6px;
  bottom: -6px;
  cursor: nwse-resize;
}
.handler--bottom-left {
  position: absolute;
  left: -6px;
  bottom: -6px;
  cursor: nesw-resize;
}

.tool-isActive {
  background-color: #eeeeee;
}

.container {
  background-color: #d3d3d3;
}

.hovered {
  outline: 1px solid blue;
}

.dimension-indicator {
  position: fixed;
  white-space: nowrap;
  top: 0;
  opacity: 0;
}

.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 1rem;
  height: 70px;
  background-color: #fbfbfb;
}

.tool {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool:not(:last-child) {
  margin-right: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.5;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.84);
}

blockquote,
body,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}
